In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
rmse_list = [15.840293402303036,
 12.411611340509312,
 18.184540967174655,
 17.246424589458503,
 23.29413136214671,
 14.3352798724628,
 11.51427085243903,
 14.055738981446122,
 29.627608547279888,
 12.533757449975477,
 12.006668690292585,
 16.132992284695543,
 10.541216223291801,
 14.04221503246313,
 16.10923939005971,
 18.970083338736092,
 18.912733815568437,
 40.319705982001615,
 16.71238018803243,
 18.63449134732769,
 21.118661355341246,
 36.943414699273085,
 13.328384545900182,
 22.495519849733693,
 22.024865682091335,
 11.960482018298446,
 13.32086427261953,
 17.54651907273299,
 20.56825776459036,
 11.41341888429773,
 31.139211193467624,
 13.86719407442642,
 21.667059274847514,
 13.775508348321841]

In [4]:
closest_to_mean = min(rmse_list, key=lambda x:abs(x-np.mean(rmse_list)))
closest_to_mean

18.184540967174655

In [5]:
closest_to_median = min(rmse_list, key=lambda x:abs(x-np.median(rmse_list)))
closest_to_median

16.132992284695543

#### Location details

In [9]:
kampala_devices = pd.read_csv('../data/kampala_devices.csv', usecols=['location', 'lat', 'long', 'id'])
kampala_devices.head()

       location      id       lat       long
0        Ntinda  930434  0.360209  32.610756
1      Bugolobi  718028  0.307500  32.620600
2  Nantabulirwa  912224  0.346460  32.703280
3        Kireka  930426  0.365500  32.646800
4        Luwafu  930427  0.268900  32.588000

In [10]:
len(kampala_devices)

37

In [ ]:
rf_results_mean_std_dict = {1: [99.89714285714287, 0.013248026422134872],
                            0.5: [99.80999999999999, 0.023299294900430163],
                            0.1: [98.85285714285715, 0.19921273625377012],
                            0.05: [98.00428571428571, 0.12573051843250446],
                            0.01: [93.31285714285714, 1.14050114298183]}

sizes = ['n', '0.5n', '0.1n', '0.05n', '0.01n']
variable_means_dueling_dqn_pr = [96.309, 94.768, 87.824, 92.851, 87.466]
# variable_medians_dueling_dqn_pr = [97.186, 94.714, 93.821, 93.486, 87.350]
variable_stds_dueling_dqn_pr = [1.449, 2.682, 14.433, 5.652, 1.657]

variable_means_dueling_ddqn_pr = [96.523, 94.654, 93.283, 93.024, 84.876]
variable_stds_dueling_ddqn_pr = [0.760, 1.370, 3.328, 6.556, 3.604]

variable_means_rf = [i[0] for i in rf_results_mean_std_dict.values()]
variable_stds_rf = [i[1] for i in rf_results_mean_std_dict.values()]

lower_bounds_dueling_dqn_pr = [variable_means_dueling_dqn_pr[i]-1.96*variable_stds_dueling_dqn_pr[i] for i in range(len(variable_means_dueling_dqn_pr))]
upper_bounds_dueling_dqn_pr = [variable_means_dueling_dqn_pr[i]+1.96*variable_stds_dueling_dqn_pr[i] for i in range(len(variable_means_dueling_dqn_pr))]

lower_bounds_dueling_ddqn_pr = [variable_means_dueling_ddqn_pr[i]-1.96*variable_stds_dueling_ddqn_pr[i] for i in range(len(variable_means_dueling_ddqn_pr))]
upper_bounds_dueling_ddqn_pr = [variable_means_dueling_ddqn_pr[i]+1.96*variable_stds_dueling_ddqn_pr[i] for i in range(len(variable_means_dueling_ddqn_pr))]

lower_bounds_rf = [variable_means_rf[i]-1.96*variable_stds_rf[i] for i in range(len(variable_means_rf))]
upper_bounds_rf = [variable_means_rf[i]+1.96*variable_stds_rf[i] for i in range(len(variable_means_rf))]



plt.figure(figsize=(8, 5))
#plt.title('Varied Training Sizes: $\it{n=56000}$')
text_to_italic = 'n = 50400'
plt.title('Varying Training Size; $\it{n=50{,}400}$', fontsize=18)
plt.xlabel('Training set size', fontsize=16)
plt.ylabel('Accuracy', fontsize=16)
plt.ylim(0, 100)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
#plt.title('$\Gamma + \mathit{\Gamma}$', fontsize=40)
# plt.plot(sizes, variable_means_dueling_dqn_pr, linewidth=2.5, label='Dueling DQN-PER', color='blue')
# plt.plot(sizes, variable_medians_6m, '--', linewidth=2.5, label='Dueling DQN-PER Median', color='green')
plt.plot(sizes, variable_means_dueling_ddqn_pr, linewidth=2.5, label= 'Dueling DDQN-PER', color='blue')
plt.plot(sizes, variable_means_rf, linewidth=2.5, label='RF', color='red')
# plt.fill_between(sizes, lower_bounds_dueling_dqn_pr, upper_bounds_dueling_dqn_pr, alpha=0.2, color='blue')
plt.fill_between(sizes, lower_bounds_dueling_ddqn_pr, upper_bounds_dueling_ddqn_pr, alpha=0.2, color='blue')
plt.fill_between(sizes, lower_bounds_rf, upper_bounds_rf, alpha=0.2, color='red')
plt.legend(loc='lower left', fontsize='xx-large')
plt.savefig(f'../../../anemia_ml4hc/plots/varying_training_size_ltst.png')
plt.show()