In [1]:
import pandas as pd
import numpy as np
import sys
from math import sqrt
sys.path.append('../..')
from modules import utils
import gpflow
from gpflow import set_trainable
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
jinja_df = pd.read_csv('../data/jinja_data.csv', parse_dates=['timestamp'])
jinja_df.head()

,site_name,latitude,longitude,city,timestamp,pm2_5_calibrated_value,pm2_5_raw_value,pm10_raw_value,pm10_calibrated_value,site_id,device_number,device_name
0,"Jinja Main Street, Jinja",0.437337,33.211051,Jinja,2021-09-01 00:00:00+00:00,NaN,NaN,NaN,NaN,60d058c8048305120d2d6142,689753,aq_23
1,"Jinja Main Street, Jinja",0.437337,33.211051,Jinja,2021-09-01 01:00:00+00:00,NaN,NaN,NaN,NaN,60d058c8048305120d2d6142,689753,aq_23
2,"Jinja Main Street, Jinja",0.437337,33.211051,Jinja,2021-09-01 02:00:00+00:00,NaN,NaN,NaN,NaN,60d058c8048305120d2d6142,689753,aq_23
3,"Jinja Main Street, Jinja",0.437337,33.211051,Jinja,2021-09-01 03:00:00+00:00,NaN,NaN,NaN,NaN,60d058c8048305120d2d6142,689753,aq_23
4,"Jinja Main Street, Jinja",0.437337,33.211051,Jinja,2021-09-01 04:00:00+00:00,NaN,NaN,NaN,NaN,60d058c8048305120d2d6142,689753,aq_23

In [3]:
jinja_df.tail()

,site_name,latitude,longitude,city,timestamp,pm2_5_calibrated_value,pm2_5_raw_value,pm10_raw_value,pm10_calibrated_value,site_id,device_number,device_name
17067,"Mpumudde, Jinja",0.463428,33.206262,Jinja,2021-11-30 19:00:00+00:00,58.2813,74.603810,84.830833,76.151581,615c878d580358002ae96dc2,1379965,aq_g532
17068,"Mpumudde, Jinja",0.463428,33.206262,Jinja,2021-11-30 20:00:00+00:00,33.8288,48.961333,59.852000,48.608190,615c878d580358002ae96dc2,1379965,aq_g532
17069,"Mpumudde, Jinja",0.463428,33.206262,Jinja,2021-11-30 21:00:00+00:00,NaN,NaN,NaN,NaN,615c878d580358002ae96dc2,1379965,aq_g532
17070,"Mpumudde, Jinja",0.463428,33.206262,Jinja,2021-11-30 22:00:00+00:00,NaN,NaN,NaN,NaN,615c878d580358002ae96dc2,1379965,aq_g532
17071,"Mpumudde, Jinja",0.463428,33.206262,Jinja,2021-11-30 23:00:00+00:00,NaN,NaN,NaN,NaN,615c878d580358002ae96dc2,1379965,aq_g532

In [4]:
latitudes = jinja_df['latitude'].unique()
longitudes = jinja_df['longitude'].unique()
device_ids = jinja_df['device_number'].unique()
len(latitudes), len(longitudes), len(device_ids)

(10, 10, 10)

In [5]:
final_df = pd.DataFrame()
cols = ['timestamp', 'latitude', 'longitude', 'pm2_5_calibrated_value']
for i, device_id in enumerate(device_ids):
    device_df = utils.get_device_data(jinja_df, device_id, cols)
    processed_df = utils.preprocessing(device_df)
    final_df = pd.concat([final_df, processed_df])
final_df.reset_index(drop=True, inplace=True)
final_df.head()

       time  latitude  longitude    pm2_5
0  452909.0  0.437337  33.211051  12.2844
1  452910.0  0.437337  33.211051  11.6507
2  452911.0  0.437337  33.211051  22.3980
3  452912.0  0.437337  33.211051  17.4937
4  452913.0  0.437337  33.211051  25.1622

In [6]:
def cross_validation(final_df, idx, kernel_variance, lengthscales, likelihood_variance, trainable_kernel, 
                     trainable_variance, trainable_lengthscales):
    device_indices = final_df[final_df.latitude==latitudes[idx]].index
    device_df = jinja_df[jinja_df.device_number == device_ids[idx]]
    assert(len(device_indices) == len(device_df)-device_df.pm2_5_calibrated_value.isna().sum())
    
    test_df = final_df.loc[device_indices]
    assert(len(test_df.longitude.unique()) == 1)
    
    train_df = pd.concat([final_df, test_df]).drop_duplicates(keep=False)
    assert(len(train_df.longitude.unique()) == len(longitudes)-1)
    assert len(final_df) == len(test_df) + len(train_df)
    
    X_train = train_df.iloc[:, 0:-1]
    y_train = train_df.iloc[:, -1]
    X_train, y_train = np.array(X_train), np.array(y_train).reshape(-1, 1)
    if X_train.shape[0] > 9999:
        X_train = X_train[::2, :]
        y_train = y_train[::2, :]
    
    X_test = test_df.iloc[:, 0:-1]
    y_test = test_df.iloc[:, -1]
    X_test, y_test = np.array(X_test), np.array(y_test).reshape(-1, 1)
    #to delete
    #X_train, y_train, X_test, y_test = X_train[:100, :], y_train[:100, :], X_test[:100, :], y_test[:100, :]
    
    if lengthscales == 'train_shape':
        lengthscales = np.ones(X_train.shape[1])
    
    if (lengthscales is None) & (kernel_variance is None):
        k = gpflow.kernels.RBF() + gpflow.kernels.Bias()
    elif lengthscales is None:
        k = gpflow.kernels.RBF(variance=kernel_variance) + gpflow.kernels.Bias()
    elif kernel_variance is None:
        k = gpflow.kernels.RBF(lengthscales=lengthscales) + gpflow.kernels.Bias()
    else:
        k = gpflow.kernels.RBF(lengthscales=lengthscales, variance=kernel_variance) + gpflow.kernels.Bias()
        
    m = gpflow.models.GPR(data=(X_train, y_train), kernel=k, mean_function=None)
    if likelihood_variance is None:
        pass
    else:
        m.likelihood.variance.assign(likelihood_variance)
    set_trainable(m.kernel.kernels[0].variance, trainable_kernel)
    set_trainable(m.likelihood.variance, trainable_variance)
    set_trainable(m.kernel.kernels[0].lengthscales, trainable_lengthscales)
    
    #optimization
    opt = gpflow.optimizers.Scipy()
    def objective_closure():
        return - m.log_marginal_likelihood()
    
    opt_logs = opt.minimize(objective_closure,
                            m.trainable_variables,
                            options=dict(maxiter=100))

    #prediction
    mean, var = m.predict_f(X_test)
    
    rmse = sqrt(mean_squared_error(y_test, mean.numpy()))
    return rmse
    
#     return mean.numpy(), var.numpy(), Xtest, Ytest, round(rmse, 2)

#### The real work

In [7]:
# lengthscales = [[0.008, 0.008, 2], None, 'train_shape']
lengthscales = [[0.008, 0.008, 2]]
# likelihood_variances = [400, 625, None]
likelihood_variances = [625]
# kernel_variances = [400, 625, None]
kernel_variances = [400]
# trainable_kernels = [False, True]
trainable_kernels = [False]
# trainable_variances = [False, True]
trainable_variances = [False]
# trainable_lengthscales = [False, True]
trainable_lengthscales = [True]

In [ ]:
# results_df = pd.DataFrame()
count = 12
results_df = pd.read_csv(f'../results/basic_results_{count}.csv')
for lengthscale in lengthscales:
    for likelihood_variance in likelihood_variances:
        for kernel_variance in kernel_variances:
            for trainable_kernel in trainable_kernels:
                for trainable_variance in trainable_variances:
                    for trainable_lengthscale in trainable_lengthscales:
                        count+=1
                        rmse_list = []
                        print(f'EXPERIMENT {count}')
                        for i in range(len(latitudes)):
                            try:
                                rmse = cross_validation(final_df, i, kernel_variance, lengthscale, likelihood_variance, 
                                                        trainable_kernel, trainable_variance, trainable_lengthscale)
                                rmse_list.append(rmse)
                                print(f'{device_ids[i]} successful')
                            except Exception as e:
                                print(e)
                                print(f'{device_ids[i]} failed')
                                break
                            
                        mean_rmse = np.mean(rmse_list)
                        results_dict= {'lengthscale':lengthscale, 'likelihood_variance':likelihood_variance, 
                                       'kernel_variance':kernel_variance, 'trainable_kernel':trainable_kernel, 
                                       'trainable_variance':trainable_variance, 
                                       'trainable_lengthscale':trainable_lengthscale, 'avg_rmse':mean_rmse, 
                                       'rmse_list':rmse_list}
                        print(results_dict)
                        results_df = results_df.append(results_dict, ignore_index=True)
                        results_df.to_csv(f'../results/basic_results_{count}.csv', index=False)

EXPERIMENT 13
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': 19.19188832497515, 'rmse_list': [10.738971835780927, 24.496027373910568, 13.295111642146388, 18.37630675806642, 17.412111448565685, 24.73940413278885, 16.75489480109052, 13.38014113282965, 25.721785233245964, 27.004128891326566]}
EXPERIMENT 14
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': 17.32642893911044, 'rmse_list': [11.931398578266325, 21.768562615873982, 14.320995597656223, 16.96785561938652, 13.93561872428152, 21.343504755016887, 15.88412163844512, 12.158585000487918, 21.445588074177437, 23.508058787512446]}
EXPERIMENT 15
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': False, 'trainable_variance': True, 'trainable_lengthscale': False, 'avg_rmse': 19.644017493054285, 'rmse_list': [10.71656830552756, 24.436467134638722, 13.3032849893644, 18.369128156032552, 21.610880862128425, 24.725782464422412, 16.729575450473032, 13.38093753896875, 25.717730582702153, 27.449819446284852]}
EXPERIMENT 16
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': False, 'trainable_variance': True, 'trainable_lengthscale': True, 'avg_rmse': 17.45727635497581, 'rmse_list': [11.872717443023895, 22.09413449876978, 11.797465947641122, 16.957970924944682, 13.984691177200856, 25.504138539130807, 15.883745394462366, 12.158585000487918, 21.407356877478254, 22.911957746618423]}
EXPERIMENT 17
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': True, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': 20.221671296747687, 'rmse_list': [10.79831007918821, 27.951653581668438, 16.097994034961257, 21.14697237299747, 13.355047137290814, 25.4735176945283, 20.121089524031312, 13.505422596753743, 25.983363612162297, 27.783342333895032]}
EXPERIMENT 18
689753 successful
1014698 successful
Input contains NaN, infinity or a value too large for dtype('float64').
1014692 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': True, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': 17.034262273642227, 'rmse_list': [11.93308707994083, 22.13543746734363]}
EXPERIMENT 19
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': True, 'trainable_variance': True, 'trainable_lengthscale': False, 'avg_rmse': 19.1471461788372, 'rmse_list': [10.555183593456322, 25.693254763432126, 13.55072887729039, 19.16213090299953, 13.23711775531044, 24.926426466861916, 17.33311040102818, 13.441212089591238, 25.78970250612191, 27.782594432279986]}
EXPERIMENT 20
689753 successful
1014698 successful
Input contains NaN, infinity or a value too large for dtype('float64').
1014692 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 400, 'trainable_kernel': True, 'trainable_variance': True, 'trainable_lengthscale': True, 'avg_rmse': 16.417630555239576, 'rmse_list': [11.890236501138732, 20.945024609340418]}
EXPERIMENT 21
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 22
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 23
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': False, 'trainable_variance': True, 'trainable_lengthscale': False, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 24
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': False, 'trainable_variance': True, 'trainable_lengthscale': True, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 25
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': True, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 26
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': True, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 27
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': True, 'trainable_variance': True, 'trainable_lengthscale': False, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 28
Input contains NaN, infinity or a value too large for dtype('float64').
689753 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': 625, 'trainable_kernel': True, 'trainable_variance': True, 'trainable_lengthscale': True, 'avg_rmse': nan, 'rmse_list': []}
EXPERIMENT 29
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': 20.316959942911037, 'rmse_list': [11.909789481927893, 27.926305402062443, 16.060239543069912, 21.119013288409384, 13.225094053536276, 25.467342589458305, 20.086907126301885, 13.619727171569485, 25.981754458561987, 27.77342631421279]}
EXPERIMENT 30
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': 20.060255115194195, 'rmse_list': [11.659971275051717, 27.892159452738426, 15.957093608612938, 21.07431045613661, 13.13526903926807, 25.082030895514627, 20.008566947301397, 13.137389553856083, 25.332894926077547, 27.322864997384542]}
EXPERIMENT 31

689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': False, 'trainable_variance': True, 'trainable_lengthscale': False, 'avg_rmse': 20.31730642966125, 'rmse_list': [11.912368050634603, 27.925375388509675, 16.062447791683322, 21.11920097783535, 13.225835137439, 25.466706846986437, 20.087176041367204, 13.619794463560257, 25.98162385016116, 27.77253574843547]}
EXPERIMENT 32
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': False, 'trainable_variance': True, 'trainable_lengthscale': True, 'avg_rmse': 20.116067442210966, 'rmse_list': [11.842813832134132, 27.915769518769082, 15.316314207438078, 20.98715657367336, 13.135650747551706, 25.41166730784208, 19.609170567281932, 13.553374548995818, 25.90821281630193, 27.480544302121533]}
EXPERIMENT 33
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': True, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': 19.669605479750512, 'rmse_list': [10.79829546234695, 27.10699564543619, 14.434835136797249, 20.125182605387693, 13.355078761639776, 25.272658579678087, 18.72314554017186, 13.50542203533867, 25.914533480710315, 27.459907549998345]}
EXPERIMENT 34
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
Input contains NaN, infinity or a value too large for dtype('float64').
1373039 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': True, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': 16.142810670945053, 'rmse_list': [10.683722868806413, 24.433103919597254, 10.862564150207959, 16.41087878571819, 13.473898224650489, 24.00333088012245, 15.606849028317953, 13.668137510139713]}
EXPERIMENT 35
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': True, 'trainable_variance': True, 'trainable_lengthscale': False, 'avg_rmse': 19.555898422240777, 'rmse_list': [10.555179109248693, 25.69302935261049, 13.550716660068836, 19.16213689242094, 18.071778980838936, 24.926402422406234, 17.333074792002648, 13.441213176600193, 25.789719852165195, 27.03573298404557]}
EXPERIMENT 36
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 400, 'kernel_variance': None, 'trainable_kernel': True, 'trainable_variance': True, 'trainable_lengthscale': True, 'avg_rmse': 17.07294956180732, 'rmse_list': [13.24098685117417, 20.985688570685888, 10.447536847683319, 16.015358058117336, 12.412247994979916, 21.91649343393942, 16.91034931650011, 15.479486393019863, 20.819135992519325, 22.502212159453858]}
EXPERIMENT 37
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
1373038 successful
1373039 successful
1379965 successful
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 625, 'kernel_variance': 400, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': False, 'avg_rmse': 19.114505952033895, 'rmse_list': [10.533215778643513, 25.07853706689827, 13.262570729510559, 18.622875046024124, 15.614728050697494, 24.83543202662933, 17.05178793975754, 13.403074615888857, 25.76477383855827, 26.978064427730974]}
EXPERIMENT 38
689753 successful
1014698 successful
1014692 successful
1014697 successful
1290038 successful
1373035 successful
1373037 successful
Input contains NaN, infinity or a value too large for dtype('float64').
1373038 failed
{'lengthscale': [0.008, 0.008, 2], 'likelihood_variance': 625, 'kernel_variance': 400, 'trainable_kernel': False, 'trainable_variance': False, 'trainable_lengthscale': True, 'avg_rmse': 16.906514340992157, 'rmse_list': [11.23601715142414, 23.263672963397816, 11.867557883214072, 17.183907876747956, 13.355037027991175, 25.78570505401059, 15.653702430159337]}
EXPERIMENT 39
689753 successful
1014698 successful